{% extends 'base.html.twig' %}

{% block title %}Création de Compte | {% endblock %}
{% block style %}<link rel="stylesheet" href="{{asset('css/register/style.css')}}">{% endblock  %}
{% block body %}
   <section class="Inscription">
        <h2>Créer votre compte</h2>

        <div class="container">
            {{ form( form, { 'action': path('app_register') } ) }}
        </div>
    </section>

{% endblock %}