// Première Partie du Main "Titre Liste des Fiches" 
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    
    h2
    {
        text-align: center;
        margin: 1.5rem;
    }
}

// Fiches =============================
// rgb(45, 156, 219) Bleu
// #F2994A Orange

.Fiches
{
    background-color: rgba(233,236,239,255);
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    // margin: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    
    // deuxieme partie des Titres des Fiches
    h4
    {
        color: #F2994A;
    }
}

button
{
    background-color: rgb(45, 156, 219);
    font-weight: bold;
    border-radius: 0.5em;
    // border: none;
    // height: 1.8em;
    margin-top: 0.1em;
}

table
{
    text-align: center;
}