{% extends 'base.html.twig' %}

{% block title %}Modifier votre fiche ! {% endblock %}

{% block body %}
    <div class="container m5-box mt-5 mb-5 w-75">
        {{ form( form, { 'action': path('modifier_fiche', {'id':fiche.id}) } ) }}
    </div>
{% endblock %}